.row {
    margin: 0 auto;
    overflow: hidden;
}

.columns {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.offset.by-one {
    margin-left: 8.33%;
}

.offset.by-two {
    margin-left: 16.66%;
}

.offset.by-three {
    margin-left: 25%;
}

.offset.by-four {
    margin-left: 33.33%;
}

.offset.by-five {
    margin-left: 41.66%;
}

.offset.by-six {
    margin-left: 50%;
}

.offset.by-seven {
    margin-left: 58.33%;
}

.offset.by-eight {
    margin-left: 66.66%;
}

.offset.by-nine {
    margin-left: 75%;
}

.offset.by-ten {
    margin-left: 83.33%;
}

.offset.by-eleven {
    margin-left: 91.66%;
}

.columns.one {
    width: 8.33%;
}

.columns.two {
    width: 16.66%;
}

.columns.three {
    width: 25%;
}

.columns.four {
    width: 33.33%;
}

.columns.five {
    width: 41.66%;
}

.columns.six {
    width: 50%;
}

.columns.seven {
    width: 58.33%;
}

.columns.eight {
    width: 66.66%;
}

.columns.nine {
    width: 75%;
}

.columns.ten {
    width: 83.33%;
}

.columns.eleven {
    width: 91.66%;
}

.columns.twelve {
    width: 100%;
}