@import url("support/css/clean-elements.css");
@import url("support/css/content.css");
@import url("support/css/grid.css");

h2 {
    font-size: 21px;
    font-weight: 400;
    padding-bottom: 1em;
}

.jumbotron {
    background-image: url(support/images/jumbotron.jpg);
    height: 300px;
}

.logo {
    position:relative;
    top:15%;
    padding-right: 50px;
}

.logo__texte {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 64px;
    -webkit-font-smoothing: antialiased;
    text-align: right;
}

.banniere {
    position:relative;
    top:15%;
}

.baniere__slogan {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.6;
    color: #ffffff;
}

.baniere__lien {
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    border:1px solid #ffffff;
    display: inline-block;
    margin: 1em 0;
    padding: 16px 48px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;

}

.baniere__lien:hover {
    background-color: #30739d;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.client-block {
    margin: 4em 0 0 0;
}

.client-image {
    max-width: 100px;
    height: auto;
}

.client-text p {
    line-height: 1.5rem;
    font-weight: 300;
}

.separator {
    width: 96%;
    margin: 2em auto;
    border: solid #f5f5f5;
    border-width: 1px 0 0 0;
}

.value-block {
    margin: 4em 0 0 0;
    padding: 4em 50px 4em 50px;
    background-color: #f9f7f6;
}

.value-block p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    padding-bottom: 1em;
}

.footer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 50px 0 50px 0;
    text-align: center;
}

.footer-nav a {
    display: inline-block;
    padding: 18px 0;
    font-size: 18px;
    margin: 0 1.5em;
    text-decoration: none;
    color: #238bad;
}

.footer p {
    font-weight: 300;
    margin: 20px auto;

}
